html {
	font-size: 80%;
	background-color:rgb(255,255,250);
}

body {
	margin-top: 30px;
	font-family: "Varela";
	color:black;
}

ul {
	list-style-type: none;
}

li {
	margin-bottom:0px;
}

a {
	color:black;
	text-decoration: none;
}

hr {
	margin-top:1em;
	margin-bottom:1em;
}

.profile {
	max-height:120px;
	max-width:120px;

}

.profile img {
	height:100%;
	width: 100%;
	border-radius:50%;
}

.nav {
	list-style:none;
	text-align:center;
}

.nav li {
	/*display:inline;*/
	display: inline-block;
	border-right: 1px solid #ccc;
	padding-left:10px;
	padding-right:15px;
}

.nav li:first-child  { 
	padding-left:0px;
}  
.nav li:last-child  { 
	border: 0; 
} 

.center {
	float:center;
	margin:auto;
}

.center_text {
	text-align:center;
}

.header h4 {
	margin-top:10px;
}

.active {
	color:#ADADAD;
}

a:hover {
	color:#ADADAD;
}